* {
    padding: 0%;
    margin: 0%;
    background: palegoldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    .container {
        display: flex;


        .pink {
            #p {
                position: absolute;
                width: 950px;
                height: 480px;
                top: 200px;
                left: 350px;
            }
        }

        .top {
            #b1 {
                position: absolute;
                width: 850px;
                height: 400px;
                top: 20px;
                left: 100px;
            }

            #o1 {
                position: absolute;
                border-radius: 20px;
                width: 250px;
                height: 380px;
                top: 30px;
                left: 650px;
            }
        }

        .content {
            position: relative;
            align-items: center;
            text-align: center;
            color: rgb(0, 0, 0);

            h1{
                color: rgb(0, 0, 0);
                border-radius: 10px;
                font-size: 70px;
                font-weight: bold;
                text-align: center;
                position: absolute;
                top: 50px;
                left: 180px
            }

            .des1 {
                color: rgb(0, 0, 0);
                width: 450px;
                height: 50px;
                /* border: 3px rgb(216, 181, 112) solid; */
                border-radius: 15px;
                font-size: 20px;
                text-align: center;
                position: absolute;
                top: 250px;
                left: 120px;
            }
            .des2 {
                color: rgb(0, 0, 0);
                width: 350px;
                height: 300px;
                padding: 12px;
                /* border: 3px rgb(216, 181, 112) solid; */
                border-radius: 15px;
                font-size: 20px;
                text-align: justify;
                position: absolute;
                top: 530px;
                left: 580px;
            }

            #b2 {
                position: absolute;
                width: 850px;
                height: 400px;
                top: 480px;
                left: 550px;
            }

            #i1 {
                position: absolute;
                border-radius: 30px;
                width: 230px;
                height: 350px;
                top: 500px;
                left: 980px;
            }

            #i2 {
                position: absolute;
                border-radius: 30px;
                width: 160px;
                height: 181px;
                top: 650px;
                left: 1230px;
            }
        }

    }
}